.profile-img {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 70px;
  height: auto;
}

.tweet-text {
  margin-top: -5px;
}

.title {
  padding-left: 10px;
}

.bar {
  position: absolute;
  background-color: darken(#D9F4FF,10%);
  bottom: 0;
  left: 25px;
  width: 100px;
}

.graph {
  height: 300px;
  width: 150px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid darken($twitter,15%);
}

.left-text, .right-text {
  width: 150px;
  clear:both;

}

.relative-pos {
  position: relative;
}

h1, h2, h3, h4 {
  color: darken($twitter,15%);
  font-family: 'Quantico', sans-serif;
}

h1 {
  padding-top: 20px;
}

body, button[type=submit] {
  font-family: 'Quantico', sans-serif;
}

form {
  margin-top: 40px;
}

.margin-top {
  margin-top: 25px;
}

.btn {
  width: 145px;
}

.adjust-height, input.adjust-height {
  margin-bottom: 0;
  height: 50px;
  line-height: 50px;
  vertical-align: center;
}

.countdown {
  display: inline-block;
  padding: 0 10px;
  .countdown-text {
    font-family: "digital";
    font-size: 50px;
    line-height: 50px;
  }
}

.badge {
  display: inline-block;
  color: white;
  background-color: darken($twitter,15%);
  font-weight: bold;
  font-family: "digital";
  font-size: 25px;
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
}

.scores{
  margin-bottom: 25px;
  .column {
    padding: 0;
  }
}

.start-img {
  padding: 10px;
  border: 1px solid darken($twitter,15%);
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
}

.start, .subtitle {
  max-width: 600px !important;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 64em){
  .start, .restart {
    margin-top: 25px;
  }

  .restart {
    width: 100%;
  }
}

@media only screen and (min-width: 64.063em){
  form, .start, input[type=text] {
    font-size: 25px;
  }
  
  .start {
    height: 50px;
    line-height: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .middle {
    border-right: 1px solid darken($twitter,15%);
  }

  .restart {
    margin-top: 50px;
    width: 72%;
  }
}
