<!DOCTYPE html>
<html lang="en" class="no-js" ng-cloak ng-app="twitterRace">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter-Race</title>

  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Quantico:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="/js/vendor/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="/js/vendor/foundation.js"></script>
  <script type="text/javascript" src="/js/vendor/firebase-2.2.2.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-1.4.5.js"></script>
  <script type="text/javascript" src="/js/vendor/angularfire-1.1.2.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body ng-controller="MainController as main">

  <div class="row" ng-if="main.status < 0">
    <div class="small-12 column text-center">

      <h1 class="text-center">Twitter Race</h1>
      <img src="/images/race_crop.png" alt="Screenshot" class="start-img">
      <h4 class="subtitle">Start your race now and it will count all live tweets within the next 15 seconds. Bet with friends on which search term gets more tweets.</h4>
      <form ng-submit="main.sendSearchTerm()" class="text-center">

        <div class="row">
          <div class="large-offset-2 large-3 medium-5 small-12 column">
            <input type="text" ng-model="main.searchTerms.search1" class="adjust-height">
          </div>

          <div class="large-2 medium-2 small-12 column vs adjust-height">vs.</div>

          <div class="large-3 medium-5 small-12 column end">
            <input type="text" ng-model="main.searchTerms.search2" class="adjust-height">
          </div>
        </div>
        <button type="submit" class="button expand start">Start the race</button>

      </form>

    </div>
  </div>

  <div class="row" ng-if="main.status >= 0">

    <div class="medium-6 medium-push-3 small-12 column text-center main-box">
    
      <h1 class="text-center">Twitter Race</h1>
      <div class="countdown">
        <h2 class="countdown-text" ng-if="main.status>=2">{{("0"+main.countdown).slice(-2)}}:00</h2>
        <h4 ng-if="main.status<2">Waiting for tweets to come through ...</h4>
      </div>

      <div class="row" ng-if="main.status>=2">
        <bar bar-data="main.counter1" bar-label="{{main.searchTerms.search1}}" bar-height="main.bar.left" class="middle"></bar>
        <bar bar-data="main.counter2" bar-label="{{main.searchTerms.search2}}" bar-height="main.bar.right"></bar>
      </div>

      <div class="row" ng-if="main.status<2">
        <div class="load-wrapp">
          <fakebar bar-label="{{main.searchTerms.search1}}" class="line1"></fakebar>
          <fakebar bar-label="{{main.searchTerms.search2}}" class="line2"></fakebar>
        </div>
      </div>

      <div ng-if="main.status==5">
        <button ng-click="main.restart()" class="restart">Start new Race</button>
        <h2 class="text-center" >Previous Race Outcomes</h2>
        <div class="scores">
          <div class="row" ng-repeat="score in main.scores | orderBy:'$index':true| limitTo:20" >
            <div class="small-6 column text-right">{{score[1][0]}} {{score[1][1]}} &nbsp;- </div>
            <div class="small-6 column text-left">&nbsp;&nbsp;{{score[2][1]}} {{score[2][0]}}</div>
          </div>
        </div>
      </div>

    </div>

    <ul class="medium-3 medium-pull-6 small-6 column no-bullet">
      <h2 class="title">{{main.searchTerms.search1}} tweets</h2>
      <li ng-repeat="tweetData in main.tweets1">
        <tweet tweet-data="tweetData"></tweet>
      </li>
    </ul>

    <ul class="medium-3 small-6 column no-bullet">
      <h2 class="title">{{main.searchTerms.search2}} tweets</h2>
      <li ng-repeat="tweetData in main.tweets2">
        <tweet tweet-data="tweetData"></tweet>
      </li>
    </ul>

  </div>

</body>
<script>$(document).foundation();</script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/mainController.js"></script>
<script type="text/javascript" src="/js/directives.js"></script>
</html>